@font-face {
    font-family: customFonts;
    src: url(Quicksand/Quicksand-VariableFont_wght.ttf);
}

.type {
    font-family: customFonts;
}


*,
*:focus,
*:hover {
    outline: none;
}

#maincontainer {
    display:flex;
}

#sidebar {
    max-width: 30%;
    max-height: 100%;
    position: relative;
    margin-top: -8px;
    margin-left: -8px;
    
}

#splash img {
    position: relative; 
    width: 100%;
    height:100vh;
    border-radius: 1em;
}

#sideText img {
    width: 20%;
    height: auto;
    
}

#sideText {
    position: absolute;
    display: flex;
    font-family: customFonts;
    font-size: 3rem;
    align-content: center;
    justify-content: center;
    width: 100%;
    top: 15rem;
    text-align: center;
    /*right: 20px;*/
    background-color: black;
    color: white;
    /*padding-left: 120px;
    padding-right: 80px;*/
    background: rgba(0, 0, 0, 0.6);
    z-index:9999;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#odinText {
    align-self: center;
}

#footer {
    position: absolute;
    display: flex;
    font-family: customFonts;
    bottom: 0.2em;
    color:white;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    left: 35%;
    
}

#footer img {
    width: 20%;
    height: auto;
    margin-right: 10%;
}

#warnUser {
    max-width: 70%;
    margin-left: 0;
    margin-top: 3rem;
    font-size: 1.5em;
    padding: 5%;
    background-color: rgb(214, 214, 214);
}



fieldset {
    display: flex;
    position: relative;
    margin-left: 5%;
    flex-wrap: wrap;
    /*flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;*/
    /*border: red 2px solid;*/
    width: 40%;
    column-gap: 2rem;
    row-gap: 1rem;
}

label {
    color:darkslategray;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    margin-left: 5%;
}

#accountCreate {
    margin-left: 5%;
    margin-top: 2%;;
}

#login {
    margin-left: 5%;
    margin-top: 2%;
    font-size: 1.2rem;
}

input {
    border: rgb(196, 196, 196) 2px solid;
}

input:focus {
    border: lightskyblue 2px solid;
    box-shadow: 1px 2px 2px rgb(158, 156, 156);
}

input:not(:placeholder-shown):invalid{
    border: red 2px solid;
}

input[type="submit"]{
    border: rgb(47, 136, 121);
    color: aliceblue;
    border-radius: 1rem;
    background-color: rgb(47, 136, 121);
    font-size: 1.5rem;
    width: 15%;
    padding: 1%;
}